<h3>Student Form</h3>

<%= form_tag students_path do %>
  <label for="first_name">Fill In First Name: <%= text_field_tag :'first_name' %><br></label>


  <label for="last_name">Post Last Name: <%= text_field_tag :'last_name' %><br></label>


  <%= submit_tag "Submit Student" %>
<% end %>

<%= params.inspect %>
